{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Autos</span></li>
        </ol>
             
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
{{ form_start(form, {'attr': {'class': 'form_transaccion_edit'}}) }}	
	<div class="row">
		<h1>Imagenes</h1>
		 <a class="btn btn-success" id="agregar_campo_file" href="#">Agregar imagen</a>
		<div class="col-lg-12" id="ctnImagenes">
			{{ form_widget(form.files) }}
		</div>
	</div>
	<div class="row">
	    {{ form_rest(form) }}

	</div>
	<div class="row">
	    	<button class="btn btn-success" type="submit">Guardar</button>
	        <button class="btn btn-default" type="reset">Limpiar</button>
	        <a class="btn btn-warning" href="{{ path('admin_auto') }}">Regresar</a>
	       
	</div>
    {{ form_end(form) }}                     
 </div>
</div>
</div>
</div>     
{% endblock %}
{% block jscript %}
<script type="text/javascript">
$( document ).ready(function() {
var i=1;
var y=0;
$('#agregar_campo_file').click(function(e) {
        e.preventDefault();
        var files = jQuery('#protecno_adminbundle_auto_files');
        var newWidget = files.attr('data-prototype');        
        newWidget = newWidget.replace('__name__label__', 'Imagen '+i);
        newWidget = newWidget.replace(/__name__/g, y);
        $('#ctnImagenes').append(newWidget);
        i++;
        y++;
        return false;
    });
})
</script>
{% endblock %}